<!DOCTYPE html>
<html>
<header>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Tarun's Portfolio</a>
    </div>
    <div>
      <div class="nav-links">
      <ul class="hllist">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      </div>
    </div>
  </div>
</nav>
</header>
<body>
  <div class="main">
    <div class="container">
    <div class="tagline">Hi! My name is Tarun. I can build anything.</div>
    </div>
  </div>
</body>
<footer>
   <ul class="footer-links">
  			<li><a href="https://github.com/tnt007tarun">
<img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" width="100" height="100" border="0"></a></li>
        <li><a href="https://www.linkedin.com/in/tarunjohnson">
<img src="http://larkarchitecture.com/wp-content/uploads/2014/06/linkedin-icon.png" width="100" height="100" border="0"></a></li>
        <li><a href="https://twitter.com/GradsUp">
<img src="http://missiongathering.com/wp-content/uploads/2014/11/twitter-logo-black-and-white.jpg" width="100" height="100" border="0"></a></li>
  </ul>
</footer>
</html>
