<!DOCTYPE html>
<html>
<header>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Tarun Johnson</a>
    </div>
    <div>
      <div class="nav-links">
      <ul class="hllist">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      </div>
    </div>
  </div>
</nav>
</header>
<body>
  <div class="main">
    <div class="container">
    <div class="tagline">Hi! My name is Tarun Johnson. I can build anything.</div>
    </div>
  </div>
</body>
<footer>
   <ul class="footer-links">
  			<li><a href="https://github.com/tnt007tarun">
<img src="http://www.quackit.com/pix/worlds_largest_rabbit_2_t.jpg" width="100" height="131" border="0" alt="Photo of a big bunny rabbit!"></a></li>
        <li><a href="#">LinkedIn</a></li>
        <li><a href="#">Twitter</a></li>
  </ul>
</footer>
</html>
